<a
  class=`bg-bright-blue font-bold-raleway inline-block px-40 py-3 my-10 text-light-grayish-blue shadow-xl w-100  rounded-md ${Astro.props.class}`
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
