---
import Sections from "./Sections.astro";
---

<Sections>
  <header>
    <div
      class="flex flex-row justify-between items-center p-7 lg-[1440]:pl-16 lg-[1440]:p-10 xl:px-0 text-very-dark-dlue font-regular-raleway"
    >
      <img
        class="w-auto h-7 lg-[1440]:h-14"
        src="/images/logo.svg"
        alt="logo"
      />
      <nav>
        <ul class="flex content-between gap-10 lg:text-xl">
          <li>Features</li>
          <li>Team</li>
          <li>Sign In</li>
        </ul>
      </nav>
    </div>
  </header>
</Sections>
