---
import ArrowRight from "@/icons/ArrowRight.astro";
import CtaButton from "./CtaButton.astro";
import Icons from "./Icons.astro";
import Sections from "./Sections.astro";
---

<Sections class="xl:mt-14 xl:pt-14">
  <img
    class="order-1 w-full h-full object-cover"
    src="/images/bg-curve-mobile.svg"
    alt=""
  />
</Sections>
<Sections
  class="bg-light-grayish-blue xl:flex-row xl:mb-0 xl:pb-14 xl:gap-9 xl:items-center"
>
  <div class="order-2 my-4 xl:order-1">
    <div class="pb-2">
      <h1
        class="text-xl my-8 text-very-dark-dlue px-7 font-bold-raleway xl:text-7xl xl:text-nowrap xl:text-left"
      >
        Stay productive, wherever you are
      </h1>
      <div
        class="pr-9 pl-5 mx-4 text-pretty text-base text-left text-desaturated-blue font-regular-sans xl:px-0 xl:mt-7 xl:text-left xl:text-3xl xl:pr-56"
      >
        <p>
          Never let location be an issue when accessing your files. Fylo has you
          covered for all of your file storage needs.
        </p>
        <br />
        <p class="pr-10 xl:pr-0">
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required!
        </p>
      </div>
      <div
        class="px-7 flex justify-center mt-5 mb-1 items-center gap-3 underline underline-offset-8 decoration-moderate-cyan xl:justify-start"
      >
        <CtaButton
          class="rounded-none bg-transparent font-regular-raleway bg-opacity-0 pl-0 pr-0 px-0 py-0 my-0 text-moderate-cyan shadow-transparent xl:text-4xl"
          href="https://www.github.com/justcoddev"
        >
          See how Fylo works
          <Icons
            class="rounded-full shadow-md p-1 flex items-center justify-center"
            href="https://www.linkedin.com/in/justcoddev"
          >
            <ArrowRight class="size-3" />
          </Icons>
        </CtaButton>
      </div>
    </div>
    <div
      class="rounded border mb-14 border-light-grayish-blue shadow pl-8 pr-3 text-wrap py-1 mx-14 bg-white xl:ml-6 xl:mr-0 xl:w-2/4 xl:pl-12 xl:pr-12"
    >
      <p class="text-5xl font-bold text-left">"</p>
      <p class="text-sm font-medium text-left text-very-dark-dlue xl:text-2xl">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </p>

      <div class="flex items-center py-3">
        <img
          class="rounded-full w-auto h-8 mr-4 xl:h-9"
          src="/images/avatar-testimonial.jpg"
          alt=""
        />
        <div class="text-left">
          <h2 class="font-bold-raleway text-sm">Kyle Burton</h2>
          <p class="text-[0.563rem]">Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>
  </div>
  <img
    class="order-1 w-full mt-10 px-12 xl:order-2 xl:px-16 xl:mt-0 xl:w-[40%]"
    src="/images/illustration-2.svg"
    alt="illustracion-1"
  />
</Sections>
