---
import CtaButton from "./CtaButton.astro";
import Sections from "./Sections.astro";
---

<Sections class="xl:flex-row xl:my-14 xl:py-14 xl:gap-9 xl:items-center">
  <div class="order-2 xl:order-1">
    <h1
      class="text-3xl text-very-dark-dlue px-7 font-bold-raleway xl:text-7xl xl:text-pretty xl:text-left"
    >
      All your files in one secure location, accessible anywhere.
    </h1>
    <p
      class="px-10 mx-7 text-base text-very-dark-dlue font-regular-sans xl:px-0 xl:mt-7 xl:text-left xl:text-4xl"
    >
      Fylo stores your most important files in one secure location. Access them
      wherever you need, share and collaborate with friends, family, and
      co-workers.
    </p>
    <form action="" class="px-7 xl:flex xl:pr-24 xl:mt-10 xl:items-center">
      <input
        class="border text-left border-desaturated-blue rounded-md py-2 px-4 mt-7 w-[97%] xl:w-[70%] xl:mt-0 xl:mr-5 xl:px-5 xl:py-6"
        type="email"
        placeholder="Enter your email..."
      />
      <CtaButton
        class="mt-5 xl:mt-0 xl:my-0 xl:text-nowrap xl:py-6 xl:text-2xl"
        href="https://www.github.com/justcoddev"
        >Get Started
      </CtaButton>
    </form>
  </div>
  <img
    class="order-1 xl:order-2 w-full mt-10 px-12 xl:px-0 xl:mt-0 xl:w-[43%]"
    src="/images/illustration-1.svg"
    alt="illustracion-1"
  />
</Sections>
