---
import ArrowRight from "@/icons/ArrowRight.astro";
import CtaButton from "./CtaButton.astro";
import Icons from "./Icons.astro";
import Sections from "./Sections.astro";
---

<img
  class="order-1 w-full h-full object-cover"
  src="/public/images/bg-curve-mobile.svg"
  alt=""
/>
<Sections class="bg-light-grayish-blue">
  <div class="order-2 my-4">
    <h1 class="text-xl my-8 text-very-dark-dlue px-7 font-bold-raleway">
      Stay productive, wherever you are
    </h1>
    <div
      class="px-10 mx-4 text-base text-left text-desaturated-blue font-regular-sans"
    >
      <p>
        Never let location be an issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
      </p>
      <br />
      <p>
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required!
      </p>
    </div>
    <div
      class="px-7 flex justify-center mt-5 underline underline-offset-8 decoration-moderate-cyan"
    >
      <CtaButton
        class="rounded-none bg-transparent text-moderate-cyan mx-0 my-0 px-0 mr-1 shadow-none"
        href="https://www.github.com/justcoddev"
      >
        See how Fylo works
      </CtaButton>
      <Icons class="" href="https://www.linkedin.com/in/justcoddev">
        <ArrowRight class="size-4 md:size-6" />
      </Icons>
    </div>
  </div>

  <img
    class="order-1 w-full mt-10 px-12"
    src="/images/illustration-2.svg"
    alt="illustracion-1"
  />
</Sections>
